
/* --------------- */
/* -- Variables -- */
/* --------------- */

$light-blue: #337ab7;
$blue: #245B89;
$dark-blue: #011423;

$small-breakpoint: 768px;
$medium-breakpoint: 992px;
$large-breakpoint: 1200px;


/* ------------------------ */
/* -- Media Query Format -- */
/* ------------------------ */

/* Extra small devices (phones, less than 768px) */
/*@media (max-width: $small-breakpoint) {}*/

/* Small devices (tablets, up to 992px) */
/*@media (max-width: $medium-breakpoint) {}*/

/* Medium devices (desktops, up to 1200px) */
/*@media (max-width: $large-breakpoint) {}*/


/* -------------------- */
/* -- General Styles -- */
/* -------------------- */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

a {
    color: inherit;
    text-decoration: inherit;
    outline: 0;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}


/* ------------------------- */
/* -- Welcome Page Styles -- */
/* ------------------------- */

.welcome-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    @media (max-width: $small-breakpoint) {
        padding: 10px 20px 20px 20px;
    }
}

.welcome-content {
    text-align: center;
    display: inline-block;
}

.welcome-title {
    font-size: 160px;
    color: $blue;

    @media (max-width: $small-breakpoint) {
        font-size: 130px;
    }
}

.welcome-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: $dark-blue;
}


/* ------------------- */
/* -- Banner Styles -- */
/* ------------------- */

.top-banner {
    text-align: center;
    display: table-cell;
    background-color: $light-blue;
    position: fixed;
    z-index: 999;
}

.banner-spacer {
    display: table-cell;
    color:white;
}

.banner-title {
    font-size: 30px;
    color: white;
    width: 100vw;
}

.banner-button {
    margin: 4px 10px;
}


/* ------------------- */
/* -- IFrame Styles -- */
/* ------------------- */

.scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
}


/* ------------------- */
/* -- Button Styles -- */
/* ------------------- */

.white-text {
    color:white !important;
    font-size:25px !important;
}